@charset "utf-8";
/* CSS Document */
body{background-color:#524741;}

ul{float:right}
.lista{list-style:none}








#titulo{background-color:#221D1A}

#imagen{width:8%; margin:0 auto}

#cuerpo{background-color:#E6AD2A; text-align:center }

#imagen2{width:80%}

.imagen22{height:800px}

div .imagen22{margin:0 auto}

.imagen3{height:70px; width:100px; margin-top:5px}

#cuerpo-pie{background-color:#221D1A;height:100px; text-align:center}

#colorpie{background-color: #D29E26; margin:0 auto}

.alto{height:200px;}

.ancho{width:80%}

#ult{background-color:#221D1A; margin:0 auto;}

.alt{height:1200px}

.anc{width:80%}

a{text-decoration: none; color:#FF0;}



