@charset "utf-8";
/* CSS Document */

span.c{
	color: red;
	font-size: 12px;
}

input.d{
	border-radius: 100px;
}

textarea.d{
	border-radius: 10px
}

button.r{
	background-color: blue;
}