@charset "utf-8";
/* CSS Document */
body {
	background-color:#666666;
}

table{
	border: none;
}

#d{
	border-radius: 20px;
	background-color: aqua;
	margin-left: 500px;
	margin-right: 500px;
	text-align: center;
}

#im{
	border-radius:20px;
	width: 100%;
	height: 100%;
}

a{
	color:#FFFFFF;
	font-size: 25px;
}
b{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:aqua;
	font-size: 27px;
}
c{
	font-size: 20px;

}

#d2{
	margin-left:150px;
	margin-right: 150px;
}

#d3{
	margin-left:150px;
	margin-right: 150px;
}
